/*
   Master application stylesheet.
   Loaded by @StyleSheet("styles.css") on AppShell.

   Component-specific styles are currently loaded by individual views (e.g. via @CssImport).
*/

/* Example: CSS class name to center align the content. */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

/* Bordered text field variant. */
.vaadin-text-field.bordered::part(input-field) {
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
  background-color: var(--lumo-base-color);
}

.importdialog-applyhint {
  font-size: var(--lumo-font-size-s);
  color: var(--lumo-secondary-text-color);
}
